
@font-face {
  font-family: 'fat-frank';
  src: url('../fonts/fatfrank-free.eot?') format('embedded-opentype'),
     url('../fonts/fatfrank-free.woff') format('woff'),
     url('../fonts/fatfrank-free.ttf') format('truetype'),
     url('../fonts/fatfrank-free.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

html,body {
  width: 100%;
  height: 100%;
}
body{
  background-color: #101e34;
  overflow: hidden;
}

*:not(a){
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.gradient-bg{
  width: 150%;
  min-width: 100%;
  height: 130%;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #1a1a2a;
  -webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  background-repeat: repeat;
  -webkit-background-size: auto;
  background-size: auto;
  background-position: center;
  z-index: 0
}

/*@media screen and (max-width: 1024px){
  .gradient-bg{
    width: 130vh;
    height: 130vh;
  }
}*/

.text{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 130px;
  line-height: 1;
  font-family: fat-frank, arial;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  top: 65px;
  margin: 0;
  -webkit-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  transform: translateY(-300%);
}
.text .blue{
  color: #46aeff
}
.text .red{
  color: #ff4646;
}

/*svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

svg{
  position: fixed;
  width: 1300px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  font-family: fat-frank, arial;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 1530px){
  svg{
    width: 1510px;
  }
}

@media screen and (max-width: 1300px){
  svg{
    width: 1220px;
  }
}

@media screen and (max-width: 1250px){
  .text{
    display: block;
  }
  svg{
    display: none;
  }
}


svg tspan{
  stroke: #101e34;
  /*stroke-width: 0.8;*/
  /*stroke-location: outside;
}

svg tspan:nth-child(1){
  fill: #46aeff
}

svg tspan:nth-child(2){
  fill: #ff4646;
}

svg tspan:nth-child(3){
  fill: #fff;
}

.colortext .anim-shape:nth-child(1) {
  fill: #101e34;
}*/

#can{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  z-index: 9998;
}
.trumpet {
  width: 840px;
  height: 840px;
  /*width: 77.777778vh;
  height: 77.777778vh;*/
  height: 77.777778%;
  position: fixed;
  top: 50%;
  left: 100%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: top 0.5s, left 0.5s;
  -o-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
  -webkit-transform: rotate(-45deg) translate(150%, 150%);
  -ms-transform: rotate(-45deg) translate(150%, 150%);
  -o-transform: rotate(-45deg) translate(150%, 150%);
  transform: rotate(-45deg) translate(150%, 150%);
  z-index: 3000;
}

@media screen and (max-width: 767px){
  .trumpet{
    width: 800px;
    height: 800px;
    /*width: 74.074074vh;
    height: 74.074074vh;*/
    height: 74.074074%;
    -webkit-transform: rotate(-90deg) translate(150%, 150%);
    -ms-transform: rotate(-90deg) translate(150%, 150%);
    -o-transform: rotate(-90deg) translate(150%, 150%);
    transform: rotate(-90deg) translate(150%, 150%);
  }
}

.trumpet .trumpet-inner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.trumpet .trumpet-inner-wrapper .trumpet-inner {
  position: absolute;
  width: 700px;
  height: 700px;
  /*width: 64.814814vh;
  height: 64.814814vh;*/
  width: 83.333333%;
  height: 83.333333%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767){
  .trumpet .trumpet-inner-wrapper .trumpet-inner {
    width: 87.5%;
    height: 87.5%;
  }
}
.trumpet.flipped .trumpet-inner-wrapper .trumpet-inner{
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.trump{
  width: 1009.8px; /*1122*/
  /*width: 103.888889vh;*/
  /*height: 100%; */
  height: 724.5px; /*805*/
  /*height: 74.537037vh;*/
  height: 74.537037%;
  position: fixed;
  left: 50%;
  /*position: relative; 1 */
  /*margin: 0 auto;*/
  bottom: 0;
}

@media screen and (max-width: 768px){
  .trump{
    /*width: 88.305555vh;
    height: 63.35648145vh;*/
    width:100%;
    height: 63.356481%;
  }
}


.trump .trump-inner{
  position: relative;
  width:100%;
  height: 100%;
  margin-left: -50%;
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
}

/*.trump .body{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: url(../assets/trumps.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: 200% 100%;
  background-position: 100% 0;
}
.trump .body.blown{
  background-position: 0 0;
}*/

.trump .body-cont{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: -5%;
}
.trump .body{
  width: 200%;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url('../wallys.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: 100% 100%;
  background-position: 100% 0;
}

.trump .eyes{
  position: absolute;
  width: 18.8%;
  height: 6%;
  bottom: 68%;
  left: 41%;
}
.trump .eyes .eye{
  position: absolute;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
}
.trump .eyes .eye.left-eye{
}
.trump .eyes .eye.right-eye{
  right: -1%;
  top: 8%;
}
.iris{
  width: 90px;
  height: 90px;
  /*width: 9vh;
  height: 9vh;*/
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  /*margin-top: -4.5vh;
  margin-left: -4.5vh;*/
  background-image: url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/img-0.75/eye.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
}
.reflection{
  width: 100%;
  height: 100%;
  margin-left: -50%;
  margin-top: -50%;
  position: absolute;
  top: 65%;
  left: 50%;
  background-image: url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/img-0.75/reflection.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
}

.trump .hair{
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  bottom: 41%;
  left: 4%;
  width: 89.126559%;
  height:93.167701%;
  overflow: hidden;
}
.trump .hair .angle-cont, .trump .hair .angle-cont-can, .trump .hair .idle-cont{
  width: 101%;
  height: 101%;
  margin-left: -0.5%;
  margin-top: -0.5%;
  position: absolute;
  overflow: hidden;
  top: 0;
  -webkit-transform: translateY(-10000px) translateZ(0);
  -ms-transform: translateY(-10000px) translateZ(0);
  -o-transform: translateY(-10000px) translateZ(0);
  transform: translateY(-10000px) translateZ(0);
}

.trump .hair .idle-cont .hair-sprite{
  position: absolute;
  width: 100%;
  height: 100%;
  /*will-change: transform;*/
}

.trump .hair .angle-cont .hair-sprite{
  position: absolute;
  width: 400%;
  height: 600%;
}

.socials-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0;
  z-index: 1000;
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
  z-index: 9999;
}

.socials-container .social-item{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-background-size: 160px 40px;
  background-size: 160px 40px;
  background-position: 100% 0;
}

.socials-container .social-item:hover{
  background-position: 33.33333% 0;
}

.socials-container .social-item:not(:first-child){
  margin-left: -2px;
}

@media screen and (max-width: 1024px){
  .touch .socials-container .social-item:hover{
    background-position: 0% 0;
  }
}

@media screen and (max-width: 768px){
  .socials-container .social-item{
    /*display: block;*/
    width: 44px;
    height: 44px;
    -webkit-background-size: 176px 44px;
    background-size: 176px 44px;
  }

  .socials-container .social-item:not(:first-child){
    /*margin-top: -2px;*/
    margin-left: -2px;
  }
}

.facebook{
  background-image: url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/facebook.png);
}

.twitter{
  background-image: url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/twitter.png);
}

.instagram{
  background-image: url(../assets/images.png);
}

.socials-container .social-item .social-link{
  display: block;
  width: 100%;
  height: 100%;
}

/*Counter*/

.counter-cont{
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-family: fat-frank;
  font-size: 2.15rem;
  text-transform: uppercase;
  pointer-events: none;
  -webkit-transform: translateY(500%);
  -ms-transform: translateY(500%);
  -o-transform: translateY(500%);
  transform: translateY(500%);
  z-index: 9999;
}

@media screen and (max-width: 767px){
  .counter-cont .counter-numbers, .counter-cont .counter-text{
    font-size: 1.333333rem;
  }
}

.counter-cont .counter-numbers{
  color: #fff;
  line-height: 1;
}

.counter-cont .counter-numbers, .counter-cont .counter-text{
  opacity: 0;
}

.counter-cont .counter-text, .counter-cont .counter-ref{
  color: #494855;
}

.counter-cont .counter-ref{
  font-family: 'Open Sans';
  font-size: 9px;
}

.counter-cont .counter-ref .ref-link{
  color: #494855;
  pointer-events: auto;
}

.counter-cont .counter-ref .ref-link:hover{
  color: #fff;
}


/*Simplified loader*/
.row1 .left, .row1 .right {
  animation-delay:-0s;
  /*Obviously not needed*/
}
.row2 .left, .row2 .right {
  animation-delay:-0.5s;
}
.row3 .left, .row3 .right {
  animation-delay:-1s;
}
.row4 .left, .row4 .right {
  animation-delay:-1.5s;
}
/**/

.loader {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:120px;
  height:84px;
}
.left, .right {
  height:8px;
  width:10px;
  background-color:#000;
  border-radius:4px;
  position:absolute;
}
.left {
  left:0px;
  animation:left 2s infinite;
}
.right {
  right:0px;
  animation:right 2s infinite;
}



.row1, .row2, .row3, .row4 {
  position: relative;
}
.row1 {
  top:0px;

}
.row1 .left, .row1 .right{
  background-color: #46aeff;
}
.row2 {
  top:13px;

}
.row2 .left, .row2 .right{
  background-color: #ff4646;
}
.row3 {
  top:26px;

}
.row3 .left, .row3 .right{
  background-color: #fff;
}
.row4 {
  top:78px;
}

@keyframes left {
  0%, 50%, 100% {
    width: 50px;
  }
  25% {
    width: 80px;
  }
  75% {
    width:20px;
  }
}
@keyframes right {
  0%, 50%, 100% {
    width: 50px;
  }
  25% {
    width: 20px;
  }
  75% {
    width: 80px;
  }
}

.loader-text{
  text-align: center;
  /*position: relative;
  top: 40px;*/
}

.loader-text p{
  color: #fff;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-family: 'fat-frank';
  margin: 0;
  text-transform: uppercase;
  animation:loader-text 2s infinite;
}

.loader-text p:first-child{
  color: #46aeff;
  animation-delay: 0;
}

.loader-text p:nth-child(2){
  color: #ff4646;
  animation-delay: 0.5s;
}

.loader-text p:nth-child(3){
  animation-delay: 1s;
}


@keyframes loader-text {
  0%, 50%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  75% {
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
}
/*
@media screen and (min-width: 1921px){
  .text{
    font-size: 150px;
  }
}*/

@media screen and (min-width: 1530px){
  .text{
    font-size: 150px;
  }
}

@media screen and (max-width: 1300px){
  .text{
    font-size: 120px;
  }
}

@media screen and (max-width: 1250px){
  .text{
    text-align: left;
    line-height: 0.8;
    padding-left: 30px;
  }
  .text span {
    display: block;
    margin-left: 35px;
  }
}

@media screen and (max-width: 1024px){
  .text{
    text-align: left;
    line-height: 0.8;
    padding-left: 0.25em;
    top: 0.5em;
  }
  .text span {
    display: block;
    margin-left: 0.25em;
  }
}

@media screen and (max-width: 767px){
  .text{
    font-size: 66px;
  }
}

/*Crios fix*/

/*@media screen and (max-width: 1024px){
  .crios .gradient-bg{
    width: 200%;
    height: 100%;
  }
}

.crios .trumpet{
  width: 840px;
  height: 77.777778%;
}

@media screen and (max-width: 767px){
  .crios .trumpet{
    width: 800px;
    height: 74.074074%;
  }
}

.crios .trumpet .trumpet-inner-wrapper .trumpet-inner {
  width: 83.333333%;
  height: 83.333333%;
}

@media screen and (max-width: 767px){
  .crios .trumpet .trumpet-inner-wrapper .trumpet-inner {
    width: 87.5%;
    height: 87.5%;
  }
}*/

/*.crios .trump{
  width: 1009.8px;
  height: 74.537037%;
}*/

/*@media screen and (max-width: 768px){
  .crios .trump{
    width: 100%;
    height: 63.356481%;
  }
}

.crios .iris{
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
}*/

html, .crios{
  /*height: 110% !important;*/
  margin: 0 !important;
  position: relative;
  top: 0;
  background-color: #0c0c16;
}

/*.crios>*{
  display: none;
}*/

.crios .crios-cont{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.crios-cont .text-cont{
  position: absolute;
  width: 100%;
}

.crios-top{
  top: 90px;
  left: 40px;
  text-align: left;
}

.crios-bottom{
  right: 30px;
  bottom: 30px;
  text-align: right;
}

.crios-text, .crios-logo{
  font-family: 'fat-frank';
  text-transform: uppercase;
  color: #fff;
}

h1.crios-text{
  margin: 0;
  line-height: 1;
}

h1.crios-text .star{
  font-family: arial;
  margin-left: -14px;
  margin-right: 2px;
}

.crios-text span{
  color: #46aeff;
}

.crios-cont .crios-bottom{
  display: none;
}

body:not(.crios) .crios-cont{
  display: none;
}

.crios .crios-cont{
  display: none;
}
